---
pagination:
  data: pokemon
  size: 1
  alias: mons
  resolve: values
permalink: "dex/{{slugify mons.[0].name}}{{#if mons.[1]}}-family{{/if}}/"
eleventyComputed:
  title: "{{mons.[0].name}}{{#if mons.[1]}} Family{{/if}}"
layout: dex-page
---

<h1>{{mons.[0].name}} Family</h1>

{{#each mons}}
  {{> dex-entry mon=this}}
{{/each}}
