---
data: pokemon
permalink: dex/
layout: base
title: Pokédex
---

<p>Want <em>every Pokémon on one page</em>? For <kbd>Ctrl</kbd>+<kbd>F</kbd> purposes or something? Here you go: <a href="./all/">One-page Pokédex (⚠️ loürge download)</a></p>

<ol>
{{#each pokemon as |mons i|}}
<li>
  <a href="./dex/{{slugify mons.[0].name}}{{#if mons.[1]}}-family{{/if}}/">
    {{mons.[0].name}}{{#if mons.[1]}} family{{/if}}
  </a>
{{/each}}
</ol>