{{> start }}

<title>Moves | Pokémon: Tabletop Version</title>

<style>
  table {
    table-layout: fixed;
  }
</style>

<h1>Moves</h1>

<table class="moveTable">
  <thead>
    <tr>
      <th scope="col">Move</th>
      <th scope="col">Type</th>
      <th scope="col">Category</th>
      <th scope="col">Power</th>
      <th scope="col">Accuracy</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  {{#moves}}
    <tr class="moveTable_row" id="{{slugify name}}">
      <th class="move_name" scope="row">{{name}} <a href="#{{slugify name}}">🔗</a></th>

      <td class="move_type"></td>
      <td class="move_category"></td>
      <td class="move_power"></td>
      <td class="move_accuracy"></td>

      <td class="move_desc">{{{description}}}</td>
    </tr>
  {{/moves}}
</table>
