<section class="mon_mega">
  <h3>Mega {{name}}</h3>

  <p><b>Ability:</b> {{ability}}</p>

  <table>
    <caption>Stat Changes</caption>

    <thead>
      <tr>
        <th scope="col">Stat</th>
        <th scope="col">Change</th>
        <th scope="col">Total</th>
      </tr>
    </thead>

    <tr>
      <th scope="row">ATK</th>
      <td>{{stats.ATKdiff}}</td>
      <td>{{stats.ATK}}</td>
    </tr>
  </table>
</section>
