---
---

<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#b02a32">
<meta name="robots" content="none">
<title>{{#if title}}{{title}} · {{/if}}Pokémon: Tabletop Version</title>
<style>
  *, ::before, ::after { box-sizing: border-box }
  html {
    font: 1.1em/1.4 -apple-system, BlinkMacSystemFont, Segoe UI, system-ui, Roboto, Lato, Helvetica, sans-serif;
    background: #b02a32; /* for overscroll */
  }

  body {
    margin: 0;
    padding: 0.5em;
    background: #ecebdd;
  }

  img,
  svg {
    max-width: 100%;
    height: auto;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    background: #b02a32;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    color: #fff;
  }

  header a {
    color: inherit;
  }

  header > h1 {
    margin: 0;
    font: italic 1em Georgia, serif;
  }

  .siteName {
    text-decoration: none;
  }
  .siteName > svg {
    vertical-align: middle;
  }

  .✲ {
    vertical-align: top;
    font-size: small;
  }

  main {
    max-width: 92em;
    margin: auto;
  }

  footer {
    margin: 6em 0 2em;
    font-size: smaller;
    text-align: center;
  }

  #™ {
    display: block;
  }
  #™:target {
    border: thin dashed;
  }

  .© {
    color: inherit;
  }
</style>

<header>
  <h1>
    <a href="/" class="siteName" rel="home">{{> dottler width="2em" }} Pokémon: Tabletop Version</a><!--
    --><a class="✲" href="#™" rel="license">✲</a>
  </h1>

  <nav>
    <a href="/dex/">Pokédex</a>
    <a href="/moves/">Moves</a>
    <a href="/abilities/">Abilities</a>
    <a href="/items/">Items</a>
  </nav>

  <form role="search" action="https://www.google.com/search">
    <input type="search" name="q"
      autocapitalize="off"
      size="14"
      pattern=".*?\S.*" title="Search for one or more terms"
      disabled="" {{! replace with required="" when ready }}
    ><input type="hidden" name="q" value="site:ptv.ti.gt/"><!--

    --><button disabled="">Search</button>
  </form>
</header>

<main>
{{{content}}}
</main>

<footer>
  <small id="™">This site is not endorsed by or affiliated with <a class="©" href="https://www.pokemon.com/us/legal/">Pokémon © Nintendo/Creatures Inc/GAME FREAK. Pokémon and Pokémon character names ™ Nintendo.</a> Trademarks used for identification and reference only.</small>
</footer>
