---
---

<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#ee1515">
<meta name="robots" content="none">
<title>{{#if title}}{{title}} · {{/if}}Pokémon: Tabletop Version</title>
<style>
  *, ::before, ::after { box-sizing: border-box }
  html {
    font: 1.1em/1.4 Georgia, serif;
    background: #ececec;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>

<body>{{{content}}}</body>
