{% if moves.starting[0] %}
<section class="mon_moves">
  <h3 class="moves_heading">Moves</h3>

  {% macro formatMoves(moveList) %}
    {% for moves in moveList %}
      {% if moves.oneOf %}
        {% for move in moves.oneOf -%}
          <a href="/moves/{{move | slugify}}/">{{move}}</a>
          {%- if not loop.last %}&thinsp;/&thinsp;{% endif -%}
        {%- endfor %}
      {% else %}
        <a href="/moves/{{moves | slugify}}/">{{moves}}</a>
        {%- if not loop.last %}, {% endif -%}
      {% endif %}
    {% endfor %}
  {% endmacro %}

  <table class="moves_table">
    <thead>
      <th>Level
      <th>Learns
    </thead>
    {% if moves.form %}
    <tr>
      <th>Form
      <td>{{formatMoves(moves.form)}}
    </tr>
    {% endif %}
    <tr>
      <th>1
      <td>{{formatMoves(moves.starting)}}
    </tr>
    {% for level, moves in moves.levelUp %}
    <tr>
      <th>{{level}}
      <td>{% if moves %}
            {{formatMoves(moves)}}
          {% else %}
            —
          {% endif %}
    {% endfor %}
  </table>

  <section class="tutor-moves">
    <h4 class="tutor-moves_heading">Tutor Moves</h4>

    <ul class="tutor-moves_list">
    {% for move in moves.tutor %}
      <li><a href="/moves/{{move | slugify}}/">{{move}}</a>
    {% endfor %}
    </ul>
  </section>
</section>
{% endif %}
