---
layout: base
---

<style>
  main {
    max-width: 45em;
    margin: 1em auto;
  }
  ul, ol {
    padding-left: 1em;
  }
  dd > ol,
  dd > ul {
    margin: 0.5em 0 0.5em 0.5em;
  }
  dd > ul {
    list-style-type: circle;
  }
  .example {
    margin: 0.5em 0;
    border-left: 2px dashed;
    padding-left: 0.5ch;
  }
  figcaption,
  .example {
    font-style: italic;
  }
  figcaption > i,
  figcaption > em,
  .example i,
  .example em {
    font-style: normal;
  }
</style>

{{content | safe}}
