---
data: abilities
permalink: abilities/
layout: base
title: Abilities
---

<style>
  .abilityList_item {
    max-width: 30em;
    margin: 1em 1em 3em;
  }
  .abilityList_item:target {
    background: rgba(255, 255, 0, 0.1);
  }

  .ability_name {
    font: 700 1.3em/1.1 Helvetica, sans-serif;
  }

  p {
    margin: 0.6em 0;
  }

  .ability_usedBy {
    font-size: smaller;
  }
</style>

<main>
  <h1>Abilities</h1>

  <dl class="abilityList">
    {% for ability in abilities %}
      <div class="abilityList_item" id="{{ability.name | slugify}}">
        <dt class="ability_name"><a rel="bookmark" href="#{{ability.name | slugify}}">{{ability.name}}</a>

        {% if ability.bonusStats %}
          <dd class="ability_bonusStats">{{ability.bonusStats}}
        {% endif %}

        <dd class="ability_desc">{{ability.description | safe}}

        {% if ability.usedBy %}
          <dd class="ability_usedBy">Found on: {% for user in ability.usedBy %}{{user}}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </dl>
</main>
